global:
  cloudProvider:
    flavor: openshift
    dockerRegistryUrl: acrarolibotnonprod.azurecr.io
    imagePullSecretName: mapcolonies-secret

  tracing: {}
  metrics: {}

mcLabelsAndAnnotations:
  component: backend
  partOf: yahalom
  owner: common
  prometheus:
    enabled: true

enabled: true
replicaCount: 1
revisionHistoryLimit: 5
nodePort: 30030  # for minikube deployment only
resetOnConfigChange: false

nameOverride: ""
fullnameOverride: ""

configManagement:
  offlineMode: true
  name: 'yahalom-gateway'
  version: 'latest'
  serverUrl: 'http://common-export-management-service.3d-dev.svc.cluster.local:8080/api'

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

podAnnotations: {}

extraVolumes: []
extraVolumeMounts: []
extraEnvVars: []

command: []
args: []

sidecars: []

cloudProvider:
  dockerRegistryUrl: acrarolibotnonprod.azurecr.io
  imagePullSecretName: mapcolonies-secret
  flavor: openshift

caSecretName: ''
caPath: '/usr/local/share/ca-certificates'
caKey: 'ca.crt'

image:
  repository: yahalom-gateway
  tag: 1.0.0
  pullPolicy: IfNotPresent

env:
  port: 8080
  targetPort: 8080
  protocol: TCP
  logLevel: debug
  logPrettyPrintEnabled: false
  responseCompressionEnabled: true
  requestPayloadLimit: 1mb
  tracing:
    enabled: false
    url: http://localhost:55681/v1/trace
  metrics:
    enabled: false
    url: http://localhost:55681/v1/metrics
  db:
    host: yahalom-db-postgresql
    port: 5432
    username: postgres
    password: postgres
    database: message_test
    type: postgres

resources:
  enabled: true
  value:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

route:
  enabled: true
  path: /
  host: ''
  timeout:
    enabled: false
    duration: 60s
  rewriteTarget: ''
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    useCerts: false
    certificate: ''
    key: ''
    caCertificate: ''

ingress:
  enabled: false
  path: /
  host: 'localhost'
  cors:
    enabled: true
    origin: '*'
